<!-- Enlazamos un FormGroup al elemento form html
gracias a la directiva FormGroup. En el caso de qerere enlazar
propeidades del modelo del FormGroup a los elementos input del formulario
lo haremos usando la directiva formcontrolname -->
<form [formGroup]="formulario" (ngSubmit)="guardarContacto()">
  <div>
    <label for="">Nombre</label>
    <input type="text" formControlName="nombre">
  </div>
  <div>
    <label for="">Apellidos</label>
    <input type="text" formControlName="apellidos">
  </div>
  <div>
    <button type="submit">Guardar contacto</button>
  </div>
</form>
